<!-- header -->
<html>
<head>
  <title>bookers</title>
</head>
  <body>
  <h1>ようこそ<storong>Bookers</storong>へ!</h1>
  <p><strong>Bookers</storong> では、さまざまな書籍に関するあなたの意見や</br>
      印象を共有し交換することができます</p>
  <%= link_to "start", books_path %>
  </body>
  
</html>